a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 1px;
}

h1 {
	display: block;
	text-align: center;
	margin: 5 auto;
}

h2.aboutme {
	margin-left: 10%;
}

p.aboutme {
	width: 50%;
	float: left;
	margin-left: 10%;
}

nav {
	text-align: center;
	word-spacing: 15px;
}

.lownav {
	word-spacing: 15px;
}

#lowrule {
	clear: both;
}

#aboutnav {
	word-spacing: 0px;
}

img {
	display: inline-block;
	width: 200px;
	height: auto;
	margin-left: 15%;
	margin-bottom: 40px;
	margin-top: -15px;
}